@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.main-body {
    background: rgb(170,155,180);
    background: linear-gradient(143deg, rgba(170,155,180,1) 5%, rgba(134,125,125,1) 64%, rgba(57,56,54,1) 100%);
    height: 100vh;
    padding-top: 5px; /* Add padding only inside the container */
    transition: all 0.3s ease;
}

.main-body .base{
    background: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2.8;
    letter-spacing: 1px;
    border: 1px solid rgba(170,155,180,1);         /* Sets the border width and color */
    border-radius: 10px;
    margin: 20px auto;
}

ul {
    background: white;
    padding: 10px 20px;             /* Adjusts the padding inside the oval */
    border: 1px solid rgba(170,155,180,1);         /* Sets the border width and color */
    border-radius: 10px;            /* Creates the oval shape */
    margin: 20px auto;              /* Centers the paragraph horizontally */
}

.main-body h1{
    font-weight: lighter;
    font-size: 25px;
    line-height: 1.8;
    letter-spacing: 2px;
}

/* Keyframes for fading in and out */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Applying the animations */
.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}
